<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator/1.0/passwordvalidator.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd">
  <name>chipsdomain</name>
  <domain-version>12.2.1.4.0</domain-version>
  <security-configuration>
    <name>chipsdomain</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType">
        <sec:name>DefaultAuthenticator</sec:name>
        <sec:control-flag>SUFFICIENT</sec:control-flag>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:name>DefaultIdentityAsserter</sec:name>
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:active-directory-authenticatorType">
        <sec:name>AD_LDAP</sec:name>
        <sec:control-flag>REQUIRED</sec:control-flag>
        <wls:host></wls:host>
        <wls:port></wls:port>
        <wls:ssl-enabled>true</wls:ssl-enabled>
        <wls:user-name-attribute>sAMAccountName</wls:user-name-attribute>
        <wls:principal></wls:principal>
        <wls:user-base-dn></wls:user-base-dn>
        <wls:credential-encrypted></wls:credential-encrypted>
        <wls:cache-enabled>false</wls:cache-enabled>
        <wls:user-from-name-filter>(&amp;(sAMAccountName=%u)(objectclass=user))</wls:user-from-name-filter>
        <wls:group-base-dn></wls:group-base-dn>
        <wls:group-search-scope>onelevel</wls:group-search-scope>
        <wls:group-from-name-filter>(&amp;(cn=%g)(objectclass=group))</wls:group-from-name-filter>
        <wls:connect-timeout>5</wls:connect-timeout>
        <wls:static-group-object-class>group</wls:static-group-object-class>
        <wls:static-group-name-attribute>cn</wls:static-group-name-attribute>
        <wls:static-group-dns-from-member-dn-filter>(&amp;(member=%M)(objectclass=group))</wls:static-group-dns-from-member-dn-filter>
        <wls:group-membership-searching>off</wls:group-membership-searching>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-role-mapperType">
        <sec:name>XACMLRoleMapper</sec:name>
      </sec:role-mapper>
      <sec:authorizer xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-authorizerType">
        <sec:name>XACMLAuthorizer</sec:name>
      </sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType">
        <sec:name>DefaultAdjudicator</sec:name>
      </sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType">
        <sec:name>DefaultCredentialMapper</sec:name>
      </sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType">
        <sec:name>WebLogicCertPathProvider</sec:name>
      </sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:deploy-role-ignored>false</sec:deploy-role-ignored>
      <sec:deploy-policy-ignored>false</sec:deploy-policy-ignored>
      <sec:name>myrealm</sec:name>
      <sec:delegate-m-bean-authorization>true</sec:delegate-m-bean-authorization>
      <sec:password-validator xmlns:pas="http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator" xsi:type="pas:system-password-validatorType">
        <sec:name>SystemPasswordValidator</sec:name>
        <pas:min-password-length>8</pas:min-password-length>
        <pas:min-numeric-or-special-characters>1</pas:min-numeric-or-special-characters>
      </sec:password-validator>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted></credential-encrypted>
    <node-manager-username></node-manager-username>
    <node-manager-password-encrypted></node-manager-password-encrypted>
  </security-configuration>
  <jta>
    <timeout-seconds>600</timeout-seconds>
    <abandon-timeout-seconds>86400</abandon-timeout-seconds>
    <forget-heuristics>true</forget-heuristics>
    <before-completion-iteration-limit>10</before-completion-iteration-limit>
    <max-transactions>10000</max-transactions>
    <max-unique-name-statistics>1000</max-unique-name-statistics>
    <checkpoint-interval-seconds>300</checkpoint-interval-seconds>
    <parallel-xa-enabled>true</parallel-xa-enabled>
    <unregister-resource-grace-period>30</unregister-resource-grace-period>
    <security-interop-mode>default</security-interop-mode>
    <two-phase-enabled>true</two-phase-enabled>
  </jta>
  <server>
    <name>wladmin</name>
    <ssl>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
    </ssl>
    <listen-address>wladmin</listen-address>
    <weblogic-plugin-enabled>true</weblogic-plugin-enabled>
  </server>
  <server>
    <name>wlserver1</name>
    <ssl>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
    </ssl>
    <log>
      <rotation-type>byTime</rotation-type>
      <file-count>7</file-count>
    </log>
    <machine>mach-wlserver1</machine>
    <listen-port>7001</listen-port>
    <cluster>wlcluster</cluster>
    <web-server>
      <web-server-log>
        <rotation-type>byTime</rotation-type>
        <number-of-files-limited>false</number-of-files-limited>
        <file-count>7</file-count>
      </web-server-log>
    </web-server>
    <listen-address>wlserver1</listen-address>
    <server-start>
      <class-path>/apps/oracle/chipsdomain:/apps/oracle/chipsdomain/chipsconfig/antlr-2.7.6.jar:/apps/oracle/chipsdomain/chipsconfig/log4j.jar:/apps/oracle/chipsdomain/chipsconfig/aqapi12.jar:/apps/oracle/chipsdomain/chipsconfig/aqbridge.jar:/apps/oracle/chipsdomain/chipsconfig/chips_config.jar:/apps/oracle/chipsdomain/chipsconfig/ssoRMI.jar:/apps/oracle/chipsdomain/chipsconfig/rmi_config.jar:/apps/oracle/chipsdomain/chipsconfig:/apps/oracle/chipsdomain/chipsconfig/xsl:/apps/oracle/chipsdomain/chipsconfig/rtfTemplates:/apps/oracle/chipsdomain/chipsconfig/core-renderer.jar:/apps/oracle/chipsdomain/chipsconfig/iText-2.0.8.jar:/apps/oracle/chipsconfig/chips-tuxedo-library-unversioned.jar</class-path>
      <arguments>@start-args@</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>wlserver1</user-preferred-server>
      <cluster>wlcluster</cluster>
    </jta-migratable-target>
    <weblogic-plugin-enabled>true</weblogic-plugin-enabled>
  </server>
  <server>
    <name>wlserver2</name>
    <ssl>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
    </ssl>
    <log>
      <rotation-type>byTime</rotation-type>
      <file-count>7</file-count>
    </log>
    <machine>mach-wlserver2</machine>
    <listen-port>7001</listen-port>
    <cluster>wlcluster</cluster>
    <web-server>
      <web-server-log>
        <rotation-type>byTime</rotation-type>
        <number-of-files-limited>false</number-of-files-limited>
        <file-count>7</file-count>
      </web-server-log>
    </web-server>
    <listen-address>wlserver2</listen-address>
    <server-start>
      <class-path>/apps/oracle/chipsdomain:/apps/oracle/chipsdomain/chipsconfig/antlr-2.7.6.jar:/apps/oracle/chipsdomain/chipsconfig/log4j.jar:/apps/oracle/chipsdomain/chipsconfig/aqapi12.jar:/apps/oracle/chipsdomain/chipsconfig/aqbridge.jar:/apps/oracle/chipsdomain/chipsconfig/chips_config.jar:/apps/oracle/chipsdomain/chipsconfig/ssoRMI.jar:/apps/oracle/chipsdomain/chipsconfig/rmi_config.jar:/apps/oracle/chipsdomain/chipsconfig:/apps/oracle/chipsdomain/chipsconfig/xsl:/apps/oracle/chipsdomain/chipsconfig/rtfTemplates:/apps/oracle/chipsdomain/chipsconfig/core-renderer.jar:/apps/oracle/chipsdomain/chipsconfig/iText-2.0.8.jar:/apps/oracle/chipsconfig/chips-tuxedo-library-unversioned.jar</class-path>
      <arguments>@start-args@</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>wlserver2</user-preferred-server>
      <cluster>wlcluster</cluster>
    </jta-migratable-target>
    <weblogic-plugin-enabled>true</weblogic-plugin-enabled>
  </server>
  <server>
    <name>wlserver3</name>
    <ssl>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
    </ssl>
    <log>
      <rotation-type>byTime</rotation-type>
      <file-count>7</file-count>
    </log>
    <machine>mach-wlserver3</machine>
    <listen-port>7001</listen-port>
    <cluster>wlcluster</cluster>
    <web-server>
      <web-server-log>
        <rotation-type>byTime</rotation-type>
        <number-of-files-limited>false</number-of-files-limited>
        <file-count>7</file-count>
      </web-server-log>
    </web-server>
    <listen-address>wlserver3</listen-address>
    <server-start>
      <class-path>/apps/oracle/chipsdomain:/apps/oracle/chipsdomain/chipsconfig/antlr-2.7.6.jar:/apps/oracle/chipsdomain/chipsconfig/log4j.jar:/apps/oracle/chipsdomain/chipsconfig/aqapi12.jar:/apps/oracle/chipsdomain/chipsconfig/aqbridge.jar:/apps/oracle/chipsdomain/chipsconfig/chips_config.jar:/apps/oracle/chipsdomain/chipsconfig/ssoRMI.jar:/apps/oracle/chipsdomain/chipsconfig/rmi_config.jar:/apps/oracle/chipsdomain/chipsconfig:/apps/oracle/chipsdomain/chipsconfig/xsl:/apps/oracle/chipsdomain/chipsconfig/rtfTemplates:/apps/oracle/chipsdomain/chipsconfig/core-renderer.jar:/apps/oracle/chipsdomain/chipsconfig/iText-2.0.8.jar:/apps/oracle/chipsconfig/chips-tuxedo-library-unversioned.jar</class-path>
      <arguments>@start-args@</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>wlserver3</user-preferred-server>
      <cluster>wlcluster</cluster>
    </jta-migratable-target>
    <weblogic-plugin-enabled>true</weblogic-plugin-enabled>
  </server>
  <server>
    <name>wlserver4</name>
    <ssl>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
    </ssl>
    <log>
      <rotation-type>byTime</rotation-type>
      <file-count>7</file-count>
    </log>
    <machine>mach-wlserver4</machine>
    <listen-port>7001</listen-port>
    <cluster>wlcluster</cluster>
    <web-server>
      <web-server-log>
        <rotation-type>byTime</rotation-type>
        <number-of-files-limited>false</number-of-files-limited>
        <file-count>7</file-count>
      </web-server-log>
    </web-server>
    <listen-address>wlserver4</listen-address>
    <server-start>
      <class-path>/apps/oracle/chipsdomain:/apps/oracle/chipsdomain/chipsconfig/antlr-2.7.6.jar:/apps/oracle/chipsdomain/chipsconfig/log4j.jar:/apps/oracle/chipsdomain/chipsconfig/aqapi12.jar:/apps/oracle/chipsdomain/chipsconfig/aqbridge.jar:/apps/oracle/chipsdomain/chipsconfig/chips_config.jar:/apps/oracle/chipsdomain/chipsconfig/ssoRMI.jar:/apps/oracle/chipsdomain/chipsconfig/rmi_config.jar:/apps/oracle/chipsdomain/chipsconfig:/apps/oracle/chipsdomain/chipsconfig/xsl:/apps/oracle/chipsdomain/chipsconfig/rtfTemplates:/apps/oracle/chipsdomain/chipsconfig/core-renderer.jar:/apps/oracle/chipsdomain/chipsconfig/iText-2.0.8.jar:/apps/oracle/chipsconfig/chips-tuxedo-library-unversioned.jar</class-path>
      <arguments>@start-args@</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>wlserver4</user-preferred-server>
      <cluster>wlcluster</cluster>
    </jta-migratable-target>
    <weblogic-plugin-enabled>true</weblogic-plugin-enabled>
  </server>
  <cluster>
    <name>wlcluster</name>
    <cluster-address>wlserver1:7001,wlserver2:7001,wlserver3:7001,wlserver4:7001</cluster-address>
    <cluster-messaging-mode>unicast</cluster-messaging-mode>
  </cluster>
  <production-mode-enabled>true</production-mode-enabled>
  <embedded-ldap>
    <name>chipsdomain</name>
    <credential-encrypted></credential-encrypted>
  </embedded-ldap>
  <configuration-version>12.2.1.4.0</configuration-version>
  <app-deployment>
    <name>chips</name>
    <target>wlcluster</target>
    <module-type>ear</module-type>
    <source-path>upload/weblogic/chips.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>chips-rest-interfaces</name>
    <target>wlcluster</target>
    <module-type>ear</module-type>
    <source-path>upload/chips-rest-interfaces.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <machine xsi:type="unix-machineType">
    <name>mach-wlserver1</name>
    <node-manager>
      <listen-address>wlserver1</listen-address>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>mach-wlserver2</name>
    <node-manager>
      <listen-address>wlserver2</listen-address>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>mach-wlserver3</name>
    <node-manager>
      <listen-address>wlserver3</listen-address>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>mach-wlserver4</name>
    <node-manager>
      <listen-address>wlserver4</listen-address>
    </node-manager>
  </machine>
  <jms-server>
    <name>JMSServer1</name>
    <target>wlserver1</target>
    <persistent-store>FileStore1</persistent-store>
    <hosting-temporary-destinations>true</hosting-temporary-destinations>
    <temporary-template-resource xsi:nil="true"></temporary-template-resource>
    <temporary-template-name xsi:nil="true"></temporary-template-name>
    <message-buffer-size>-1</message-buffer-size>
    <paging-file-locking-enabled>true</paging-file-locking-enabled>
    <expiration-scan-interval>30</expiration-scan-interval>
  </jms-server>
  <jms-server>
    <name>JMSServer2</name>
    <target>wlserver2</target>
    <persistent-store>FileStore2</persistent-store>
    <hosting-temporary-destinations>true</hosting-temporary-destinations>
    <temporary-template-resource xsi:nil="true"></temporary-template-resource>
    <temporary-template-name xsi:nil="true"></temporary-template-name>
    <message-buffer-size>-1</message-buffer-size>
    <paging-file-locking-enabled>true</paging-file-locking-enabled>
    <expiration-scan-interval>30</expiration-scan-interval>
  </jms-server>
  <jms-server>
    <name>JMSServer3</name>
    <target>wlserver3</target>
    <persistent-store>FileStore3</persistent-store>
    <hosting-temporary-destinations>true</hosting-temporary-destinations>
    <temporary-template-resource xsi:nil="true"></temporary-template-resource>
    <temporary-template-name xsi:nil="true"></temporary-template-name>
    <message-buffer-size>-1</message-buffer-size>
    <paging-file-locking-enabled>true</paging-file-locking-enabled>
    <expiration-scan-interval>30</expiration-scan-interval>
  </jms-server>
  <jms-server>
    <name>JMSServer4</name>
    <target>wlserver4</target>
    <persistent-store>FileStore4</persistent-store>
    <hosting-temporary-destinations>true</hosting-temporary-destinations>
    <temporary-template-resource xsi:nil="true"></temporary-template-resource>
    <temporary-template-name xsi:nil="true"></temporary-template-name>
    <message-buffer-size>-1</message-buffer-size>
    <paging-file-locking-enabled>true</paging-file-locking-enabled>
    <expiration-scan-interval>30</expiration-scan-interval>
  </jms-server>
  <migratable-target>
    <name>wlserver1 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>wlserver1</user-preferred-server>
    <cluster>wlcluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>wlserver2 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>wlserver2</user-preferred-server>
    <cluster>wlcluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>wlserver3 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>wlserver3</user-preferred-server>
    <cluster>wlcluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>wlserver4 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>wlserver4</user-preferred-server>
    <cluster>wlcluster</cluster>
  </migratable-target>
  <jmx>
    <compatibility-m-bean-server-enabled>true</compatibility-m-bean-server-enabled>
    <management-ejb-enabled>true</management-ejb-enabled>
    <platform-m-bean-server-enabled>false</platform-m-bean-server-enabled>
    <invocation-timeout-seconds>0</invocation-timeout-seconds>
    <platform-m-bean-server-used>true</platform-m-bean-server-used>
  </jmx>
  <self-tuning>
    <max-threads-constraint>
      <name>MaxThreadsConstraint-0</name>
      <target>wlcluster</target>
      <count>5</count>
    </max-threads-constraint>
    <work-manager>
      <name>JMSWorkManager</name>
      <target>wlcluster</target>
      <max-threads-constraint>MaxThreadsConstraint-0</max-threads-constraint>
      <ignore-stuck-threads>true</ignore-stuck-threads>
    </work-manager>
    <work-manager>
      <name>OfficerBulkJMSWorkManager</name>
      <target>wlcluster</target>
      <max-threads-constraint>MaxThreadsConstraint-0</max-threads-constraint>
      <ignore-stuck-threads>false</ignore-stuck-threads>
    </work-manager>
  </self-tuning>
  <startup-class>
    <name>MBeanRegistry</name>
    <target>wlcluster</target>
    <deployment-order>1000</deployment-order>
    <class-name>uk.gov.ch.chips.server.appconfig.mbean.MBeanRegistry</class-name>
    <failure-is-fatal>false</failure-is-fatal>
    <load-before-app-deployments>true</load-before-app-deployments>
    <load-before-app-activation>false</load-before-app-activation>
  </startup-class>
  <mail-session>
    <name>MailSession-0</name>
    <target>wlcluster</target>
    <jndi-name>uk.gov.ch.chips.mailsession</jndi-name>
    <properties>mail.smtp.host=mailhost.internal.ch</properties>
  </mail-session>
  <file-store>
    <name>FileStore1</name>
    <directory>servers/FileStores/JMS/FileStore1</directory>
    <synchronous-write-policy>Direct-Write-With-Cache</synchronous-write-policy>
    <cache-directory>servers/FileStores/JMS/Cache1</cache-directory>
    <target>wlserver1</target>
  </file-store>
  <file-store>
    <name>FileStore2</name>
    <directory>servers/FileStores/JMS/FileStore2</directory>
    <synchronous-write-policy>Direct-Write-With-Cache</synchronous-write-policy>
    <cache-directory>servers/FileStores/JMS/Cache2</cache-directory>
    <target>wlserver2</target>
  </file-store>
  <file-store>
    <name>FileStore3</name>
    <directory>servers/FileStores/JMS/FileStore3</directory>
    <synchronous-write-policy>Direct-Write-With-Cache</synchronous-write-policy>
    <cache-directory>servers/FileStores/JMS/Cache3</cache-directory>
    <target>wlserver3</target>
  </file-store>
  <file-store>
    <name>FileStore4</name>
    <directory>servers/FileStores/JMS/FileStore4</directory>
    <synchronous-write-policy>Direct-Write-With-Cache</synchronous-write-policy>
    <cache-directory>servers/FileStores/JMS/Cache4</cache-directory>
    <target>wlserver4</target>
  </file-store>
  <jms-system-resource>
    <name>JMSModule</name>
    <target>wlcluster</target>
    <sub-deployment>
      <name>1p</name>
      <target>JMSServer1</target>
    </sub-deployment>
    <sub-deployment>
      <name>wlcluster</name>
      <target>JMSServer1,JMSServer2,JMSServer3,JMSServer4</target>
    </sub-deployment>
    <descriptor-file-name>jms/module-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <admin-server-name>wladmin</admin-server-name>
  <jdbc-system-resource>
    <name>chipsDS</name>
    <target>wlcluster</target>
    <descriptor-file-name>jdbc/chipsDS-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>staffwareDs</name>
    <target>wlcluster</target>
    <descriptor-file-name>jdbc/staffwareDs-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>chipsBulkDS</name>
    <target>wlcluster</target>
    <descriptor-file-name>jdbc/chipsBulkDS-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
</domain>
